#nav_bar {
  background-color: green;
  height: 10%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

#nav_bar > * {
  flex: 1;
  border: 1px solid black;
}

#nav_bar > *:hover {
  background-color: darkgreen;
}

.nav_span {
  display: flex;
  align-items: center;
  justify-content: center;
}
