body, html {
    margin: 0;
    padding: 0;
}

#nav_bar {
  background-color: rgb(53, 252, 53);
  height: 10%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.nav_span {
  flex: 1;
  border: 1px solid black;
}

.nav_span:hover {
  background-color: rgb(53, 202, 53);
}

.nav_span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_span.active_nav {
  background-color: rgb(11, 193, 11);
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
